/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
		nav{
		background-color: #FE914F;
		width: 100%;
		padding: 10px 15px 10px 5px;
		font-size: 20px;
	}
		section#home > div.flex.text-center{
		width: 100%;
		flex-direction: column;
	}
	section#home{
		padding-top: 25px;
		width: 100%;
	}
	section#home img{
		width: 200px;
	}
	section#home > div:last-child h2{
		padding-top: 15px;
		color: #FF6651;
		font-size: 28px;
		font-family: oleo-regular;
	}
	section > div:last-child p{
		color: black;
		font-size: 22px;
	}
	section#our_service > div.flex{
		width: 100%;
		/*margin: auto;*/
		padding-top: 70px;
		flex-direction: column;
	}
	.contain{
		width: 80%;
		padding: 15px;
		border: 1px solid grey;
		/*margin: auto;*/
	}
	section#our_services{
		width: 76%;
		padding-top:  180px;
		margin-top: 200px;
		background: url("../img/img3.jpg") no-repeat center;
		height: 70vh
		/*padding: 70px;*/
	}
	section#our_services div.content{
		border: 2px solid #F26C49;
		box-shadow: 1px 2px 3px 2px #FE914F;
		border-radius: 20px;
		width: 90%;
		color: #FE914F;
		float: right;
		margin-top: 120px;
		margin-right: 30px; 
		padding: 5px;
	}
	section#our_services div.content h2{
		font-size: 45px;
		text-decoration: underline;
	}
	section#our_services div.content p{
		color: #ff751a;
		font-size: 30px;
	}
}
